/* ===== 主题色 ===== */
// $--color-primary: #01C0C8;

/* ===== 自定义变量 ===== */

$--color-bg: #292C39; // 背景色

$--color-sidebar: #1E2233; // 侧边栏

$--color-navbar: #1E2233; // 导航栏

$--color-tags: #1E2233; // 标签栏

$--color-content: #1E2233; // APPMAIN

$--color-text:#FFFFFF;

/* ====== 修改element变量 ====== */

$--color-white: #292C39;

$--button-primary-font-color: #FFFFFF;
$--button-success-font-color: #FFFFFF;
$--button-warning-font-color: #FFFFFF;
$--button-danger-font-color: #FFFFFF;
$--button-info-font-color: #FFFFFF;

$--border-radius-base: 3px;

$--color-black: #000000;

$--color-text-primary: #FFFFFF;

$--color-text-regular: #FFFFFF;

$--color-text-secondary: #FFFFFF;

$--background-color-base: #2b3141;

$--checkbox-disabled-input-fill: #6d6969f2;

$--border-color-extra-light: #6d6969f2;

$--table-header-background-color: #2b3141; // 表头颜色

$--menu-background-color: $--color-sidebar; // 左侧菜单颜色

$--menu-item-hover-fill: mix($--color-sidebar,$--color-black,60%); // 左侧菜单hover颜色


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* layout布局 */
@import '~styles/layout.scss';

/* element全局样式 */
@import './global.scss'
