@import '~styles/mixins.scss';

.home {
    width: 100vw;
    height: 100vh;
    background-color: #F0F2F5;
    overflow: hidden;
    font-family:Microsoft YaHei;
    &__header {
        display: flex;
        justify-content: space-between;
        background-color: #1890FF;
        height: 48px;
        color: #fff;
        font-size: 16px;
        padding: 0 12px;
        .logo {
            @include flex;
            img {
                width: 32px;
                height: 32px;
            }
        }
        .navs {
            @include flex;
            .nav {
                margin: 0 20px;
                font-size: 14px;
                font-weight: bolder;
            }
        }
        .opt {
            @include flex;
            img {
                width: 36px;
                height: 36px;
                margin-right:10px;
                border-radius: 50%;
            }
            .el-dropdown {
                cursor: pointer;
                color: #fff;
            }
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        height: calc(100% - 48px);
        padding: vh(20) vw(20);
        @include font-size(16);
        .echarts {
            width: 100%;
            height: 100%;
        }
        .container {
            background-color: #fff;
            padding: 0 vw(20) vh(20);
            overflow: hidden;
            .title {
                height: vh(48);
                line-height: vh(48);
                text-align: center;
                color: #666;
                border-bottom: 1px solid #ccc;
            }
            .nav {
                height: vh(20);
                line-height: vh(20);
                border-left: 4px solid #58AFFF;
                color: #999;
                @include font-size(14);
                padding-left: vw(10);
            }
            .subtitle {
                color: #999;
                @include font-size(14);
            }
            .number {
                @include font-size(24);
                font-weight: bold;
                color: #333;
            }
        }
        &--child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }    
        &__left {
            width: vw(378);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .left__top {
                height: vh(264);
                .info {
                    @include flex(space-between);
                    margin-top: vh(10);
                }
                .nav {
                    margin-top: vh(15);
                }
                .progress {
                    @include flex(space-between);
                    text-align: center;
                    color: #999;
                    @include font-size(12);
                    .el-progress-circle {
                        margin: vh(10) vw(20);
                        width: vw(60) !important;
                        height: vw(60) !important;
                    }
                    p {
                        @include flex;
                    }
                    .dotted {
                        display: inline-block;
                        width: vw(8);
                        height: vw(8);
                        border-radius: 50%;
                        margin-right: vw(10);
                        &--blue {
                            background-color: #1890FF;
                        }
                        &--yellow {
                            background-color: #FABF42;
                        }
                        &--red {
                            background-color: #E4523C;
                        }
                    }
                }
            }
            .left__middle {
                height: vh(278);
                padding-top: vh(20);
                &>div {
                    display: inline-block;
                    width: 50%;
                }
                .middle__left {
                    padding-right: vw(10);
                }
                .middle__right {
                    padding-left: vw(10);
                    border-left: 1px solid #F7F7F7;
                }
            }
            .left__bottom {
                height: vh(410);
            }
        }    
        &__middle {
            width: vw(1084);
            height: 100%;
            background: url('~imgs/bg.png') no-repeat;
            background-size: 100% 100%;
        }
        &__right {
            width: vw(378);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .right__top {
                height: vh(242);
                .top__content {
                    display: flex;
                    margin-top: vh(20);
                    &>div {
                        width: 50%;
                    }
                }
                .top__right {
                    border-left: 1px solid #E6E6E6;
                    padding-left: vw(20);
                }
                .info {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: vh(20);
                    li {
                        margin-right: vw(30);
                        margin-bottom: vh(10);
                    }
                }
            }
            .right__bottom {
                height: vh(730);
                .pie {
                    margin-top: vh(20);
                    height: vh(200);
                    overflow: hidden;
                    .el-col {
                        height: 100%;
                    }
                }
                .line {
                    height: vh(169);
                    margin: vh(40) 0;
                }
                .bar {
                    height: vh(167);
                }
            }
        }
    }
}