$height-nav:56px; // 导航高度

$height-tag:40px; // 标签高度

$--color-primary: #409EFF; // 主要颜色

$--color-bg: #F0F2F5; // 背景色

$--color-sidebar: #162338; // 侧边栏

$--color-navbar: $--color-primary; // 导航栏

$--color-tags: #FFFFFF; // 标签栏

$--color-content: #FFFFFF; // appMain背景色

$--color-text: #666666; // 主要文字颜色

$--color-black:#000000;

$--color-white:#ffffff;
