@import '~styles/variables';
@import '~styles/mixins';

// 全局的布局样式
.wrapper-x {
    overflow-y: hidden !important;
}
.wrapper-y {
    overflow-x: hidden !important;
}

.layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: $--color-theme;
    // 左侧
    &__side {
        float: left;
        width: 200px;
        height: 100%;
        transition: width $sidebar-duration;
        // background-color: $--color-theme;
        // 重置element的css
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }
        .logo {
            width: 80%;
            margin: 0 auto;
            height: $height-nav;
            object-fit: contain;
        }
        .el-menu {
            border-right: none !important;
        }
        .el-scrollbar {
            height: calc(100% - #{$height-nav});
        }
        .icon {
            width: 16px;
            margin-right: 5px;
            text-align: center;
            font-size: 16px;
        }
        .subIcon {
            position: relative;
            top: -2px;
            font-size: 20px;
            margin-right: 6px;
        }
    }
    // 右侧
    &__box {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        transition: margin-left $sidebar-duration;
        height: 100%;
        overflow: hidden;
        min-width: 1000px;
        &>.el-scrollbar{
            flex:1;
        }
    }
    // 导航
    &__nav {
        height: $height-nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        // background-color: $--color-theme;
        color: #fff;
        &-left {
            display: flex;
            align-items: center;
            .icon {
                font-size: 20px;
                cursor: pointer;
            }
            .el-breadcrumb {
                margin-left: 20px;
                .el-breadcrumb__inner {
                    font-weight: normal;
                    color: #fff;
                }
                .el-breadcrumb__inner.is-link:hover, .el-breadcrumb__inner a:hover {
                    color: #116effd9;
                }
                .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
                    color: inherit;
                }
            }
        }
        &-right {
            display: flex;
            align-items: center;
            .search {
                width: 300px;
                margin-right: 20px;
                .el-input__inner {
                    border-radius: 14px;
                }
            }
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
            }
            .el-dropdown {
                cursor: pointer;
                color: #fff;
            }
        }
    }
    &__content {
        min-height: calc(100vh - #{$height-nav} - #{$height-tag});
        // border:10px solid mix($--color-theme,$--color-black,85%);
        padding: 20px;
    }
    .navTags {
        display: flex;
        height: $height-tag;
        align-items: center;
        box-shadow: 0px 1px 10px 0px rgba(100, 100, 100, 0.2);
        flex-direction: start;
        font-size: 12px;
        // background-color: $--color-theme;
        &__box {
            overflow: hidden;
        }
        &__btn {
            @include flex;
            position: relative;
            // background-color: mix($--color-theme, #fff, 95%);
            z-index: 99;
            box-sizing: border-box;
            width: 28px;
            height: 28px;
            margin: 0 3px;
            text-align: center;
            cursor: pointer;
            font-size: 16px;
            color: #fff;
            transition: color 0.3s, border-radius 0.2s;
            border-radius: 2px;
            &:not(.navTags__btn--disabled):hover {
                // background-color: $--color-primary;
                color: #fff;
                border-radius: 50%;
            }
        }
        &__box {
            flex: 1;
            padding: 0 5px;
            white-space: nowrap;
        }
        .el-tag {
            cursor: pointer;
            border-radius: 0;
            margin-right: 5px;
            // background-color: mix($--color-theme, $--color-white, 95%);
            color: #fff;
            border-radius: 2px;
            .dotted {
                position: relative;
                display: inline-block;
                top: 1px;
                margin-right: 6px;
                width: 10px;
                height: 10px;
                // background-color: #fff;
                border-radius: 50%;
            }
            // &.isActive {
            //     color: $--color-primary;
            //     background-color: mix($--color-theme, $--color-black, 95%);
            //     .dotted {
            //         background-color: $--color-primary;
            //     }
            // }
        }
        .el-icon-circle-close {
            font-size: 18px;
        }
    }
    .contextmenu {
        margin: 0;
        background: #fff;
        z-index: 100;
        position: absolute;
        list-style-type: none;
        padding: 5px 0;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
        box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.2);
        li {
            margin: 0;
            padding: 7px 16px;
            cursor: pointer;
            &:hover {
                background: #eee;
            }
        }
    }

}

.layout.collapse {
    // 收起的时候左侧菜单树的样式修复
    .layout__side {
        width: 60px;
        .el-submenu {
            & > .el-submenu__title {
                &  > span {
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                    display: inline-block;
                }
                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }
    }
    .layout__box {
        margin-left: 60px;
    }
}
