$--color-bg: #1E2233; // 侧边栏
$--color-theme: #292C39; // 导航栏
$--color-primary: #409EFF; // 主要颜色
$--color-white: #FFFFFF; // 主要颜色
$--color-black: #000000; // 主要颜色


.layout {
    background-color: $--color-theme;
    &__side {
        background-color: $--color-theme;
    }
    &__nav {
        background-color: $--color-theme;
    }
    &__content {
        border:10px solid mix($--color-theme,$--color-black,85%);
    }
    .navTags {
        background-color: $--color-theme;
        &__btn {
            background-color: mix($--color-theme, #fff, 95%);
            &:not(.navTags__btn--disabled):hover {
                background-color: $--color-primary;
            }
        }
    }
    .el-tag {
        background-color: mix($--color-theme, $--color-white, 95%);
        .dotted {
            background-color: #fff;
        }
        &.isActive {
            color: $--color-primary;
            background-color: mix($--color-theme, $--color-black, 95%);
            .dotted {
                background-color: $--color-primary;
            }
        }
    }
}
