$--color-bg: #FFFFFF; // 主体背景色
$--color-sidebar: #162338; // 侧边栏
$--color-navbar: #FFFFFF; // 侧边栏
$--color-tags: #FFFFFF; // 侧边栏
$--color-theme: #01C0C8; // 主题色
$--color-primary: #409EFF;
$--color-white: #FFFFFF;
$--color-black: #000000;


.layout {
    background-color: $--color-bg;
    &__side {
        background-color: $--color-sidebar;
    }
    &__nav {
        background-color: $--color-theme;
    }
    &__tags {
        background-color: $--color-tags;
        .navTags {
            &__btn {
                background-color: mix($--color-theme, #fff, 95%);
                &:not(.navTags__btn--disabled):hover {
                    background-color: $--color-primary;
                }
            }
        }
        .el-tag {
            background-color: mix($--color-theme, $--color-white, 95%);
            &.isActive {
                color: $--color-primary;
                background-color: mix($--color-theme, $--color-black, 95%);
                .dotted {
                    background-color: $--color-primary;
                }
            }
        }
    }
    &__content {
        border:10px solid #F0F2F5;
    }

}
